.header-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-fields {
  width: 400px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.reviews-table {
  padding: 10px 100px 0 100px;
}
